*{
    -moz-user-select: none;
    user-select: none;
}
body{
    background-color: rgb(190, 190, 190);
}
.box-nav img{
    float: left;
    margin-top: -4px;
    margin-left: -30px;
}
.box-name{
    float: left;
    margin-left: 20px;
}
.box-count{
    float: right;
}
.entry:hover span{
    display:block;
}
.entry span{
    display: none;
}
.entry{
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    max-width: 16vh;
    opacity: 0.3;
    cursor: pointer;
}
.check{
    opacity: 1;
}
.check:hover{
}
.bg{
    position:absolute;
    z-index: -1;
    width: 80%;
    height: 80%;
    margin: 10%;
}

.entry .entry-name{
    float: left;
    position:absolute;
    bottom: 2px;
    width: 100%;
    text-align: center;
    color: white;
}
.entry .entry-num{
    float: left;
    position:absolute;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
#total{
    display: inline-block;
    padding: 20px;
    width: 100%;
    font-size: 2vh;
    background-color: rgba(0, 0, 0, 0.1);
}
#top{
    border: 1px solid black;
    background: url("../img/box/box1_top.png") #484848;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    text-align: center;
    line-height: 100%;
}
#top *{
    font-size: 2vw;
    margin-top: 0px;
    padding-top: 0px;
    height: 30px;
    vertical-align: top;
}
#box-left{
    display: inline-block;
    height: 100%;
    width: 100px;
    cursor: pointer;
    background: url("../img/box/arrow_left.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}
#box-right{
    display: inline-block;
    height: 100%;
    width: 100px;
    cursor: pointer;
    background: url("../img/box/arrow_right.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}
#box-left:hover{
    color: gray;
}
#box-right:hover{
    color: gray;
}
#box-title{
    display:inline-block;
    height: 30px;
    margin-top: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1vh;
    font-size: 2vw;
    line-height: 30px;
}
#sidebar{
    border: 1px solid black;
    height: 100vh;
    
}
#box-nav-parent{
    overflow-y: scroll;
    height: 50%;
    border-bottom: 1px solid black;
}
.box-nav{
    background-color: darkgray;
    text-emphasis: 900;
    color: white;
    border-radius: 10px;
    padding: 5px;
    padding-left: 30px;
    margin: 10px;
    cursor: pointer;
    height: 33px;
    width: 60%;
    min-width: 300px;
}
.box-nav:hover{
    background-color: rgb(133, 133, 133);
}
.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 3fr;
    grid-template-rows: 0.5fr repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
}
.div1 { grid-area: 2 / 1 / 3 / 2; }
.div2 { grid-area: 2 / 2 / 3 / 3; }
.div3 { grid-area: 2 / 3 / 3 / 4; }
.div4 { grid-area: 2 / 4 / 3 / 5; }
.div5 { grid-area: 2 / 5 / 3 / 6; }
.div6 { grid-area: 2 / 6 / 3 / 7; }
.div7 { grid-area: 3 / 1 / 4 / 2; }
.div8 { grid-area: 3 / 2 / 4 / 3; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 3 / 4 / 4 / 5; }
.div11 { grid-area: 3 / 5 / 4 / 6; }
.div12 { grid-area: 3 / 6 / 4 / 7; }
.div13 { grid-area: 4 / 1 / 5 / 2; }
.div14 { grid-area: 4 / 2 / 5 / 3; }
.div15 { grid-area: 4 / 3 / 5 / 4; }
.div16 { grid-area: 4 / 4 / 5 / 5; }
.div17 { grid-area: 4 / 5 / 5 / 6; }
.div18 { grid-area: 4 / 6 / 5 / 7; }
.div19 { grid-area: 5 / 1 / 6 / 2; }
.div20 { grid-area: 5 / 2 / 6 / 3; }
.div21 { grid-area: 5 / 3 / 6 / 4; }
.div22 { grid-area: 5 / 4 / 6 / 5; }
.div23 { grid-area: 5 / 5 / 6 / 6; }
.div24 { grid-area: 5 / 6 / 6 / 7; }
.div25 { grid-area: 6 / 1 / 7 / 2; }
.div26 { grid-area: 6 / 2 / 7 / 3; }
.div27 { grid-area: 6 / 3 / 7 / 4; }
.div28 { grid-area: 6 / 4 / 7 / 5; }
.div29 { grid-area: 6 / 5 / 7 / 6; }
.div30 { grid-area: 6 / 6 / 7 / 7; }
.div31 { grid-area: 1 / 1 / 2 / 7; }
.div32 { grid-area: 1 / 7 / 7 / 8; }
#boxbg { 
    grid-area: 2 / 1 / 7 / 7; 
    background-color: red;
    background: url("../img/box/box1.png") #484848;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
}
.active{
    background-color: rgb(56, 56, 56);
}
